
@{
    ViewBag.Title = "_greeting";
}


    <body>
        
        <table border="0" width="100%"> <tr> <td align="left" style="background-color:#7CC6B8; color:black; padding-left: 20px"> Welcome, @Model  </td> </tr> </table>
    </body>

